.boardWrapper {
    width: 100px;
}

.board {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background: white;
    cursor: pointer;
    transition: width ease-in 0.2s;

    .logo {
        padding: 10px;
        transition: all ease-in 0.2s;
        border-bottom: 1px solid var(--board-primary-color);
     }

    .product {
        padding: 10px;
        border-bottom: 1px solid var(--board-primary-color);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .productMoney {
        display: none;
    }

    .productTitle {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:hover {
        width: 200px;

        .logo {
            padding: 20px;
            border-bottom-width: 20px;
        }

        .product {
            padding: 10px 15px;
        }

        .productMoney {
            display: block;
        }
    }
}