.header {
  box-shadow: 0 10px 16px -6px rgba(0,0,0,.08);
}

.navBlock {
  width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkWrapper {
  padding: 12px 0 10px 0;
  border-bottom: 2px solid transparent;

  &:hover {

    .link {
      color: var(--primary-text-color);
    }
  }
}

.link {
  text-decoration: none;
  color: var(--header-link-text-color);
}